
/**** OBECNÉ ******************************************************************/

/**** DIV *********************************************************************/

#default-employee-moznostiVyberu {
    margin-top: 10px; 
    width: 805px;
}

#default-hledaniPozic-vysledek {
    display: none;
}

/**** FORMULÁŘE ***************************************************************/

#form-timeLimits {
    height: 5em;
}

#form-login dt {
    width: 130px;
    text-align: right;
}

#form-passwordChange dt {
    width: 130px;
    text-align: right;
}

/**** TABULKY *****************************************************************/

#default-employee-tablePoznamka {
    margin-top: 20px;
}

#default-employee-tablePoznamka td {
    padding: 3px 10px;
}

/**** OSTATNÍ *****************************************************************/

.default-employee-button {    
    margin: 7px 0;
    width: 250px;
    display: block;
}

.default-employee-zmenaButton {
    margin-left: 10px;
}